.slide__item {
  height: 270px;
}

.slide__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.title__slide{
  color: white;
  font-size: 40px;
  font-weight: 900;
  width: 290px;
  position: absolute;
  font-family: 'Nunito', sans-serif;
  top: 20px;
  left: 20px;
}