* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.wrapper {
  background: linear-gradient( 
    60deg,
    green 0%,     
    green 30%,     
    #76FF03 30%,   
    #76FF03 100%  
  );
}
.container{
    margin: 0 auto;
    max-width: 1024px;
}

.barra-horizontal{
  align-items:center;
    display: flex;
  flex-direction:column;
   gap:20px;
  justify-content:space-between;
     padding: 10px;    
  
  @media (min-width: 569px){
    display:flex;
    flex-direction:row;
  }
}

.tag-text-news{
  font-size: 18px;
  font-weight:700;
  max-width:300px;
  
  @media (min-width: 769px){
    max-width: 50%;
  }
}

.tag-date{
  background:green;
  border-radius:4px;
  color:white;
  padding: 3px;
  font-size:12px;
  font-weight:bold;
  letter-spacing:2px;
}

p{
  color: white;
  font-size: 22px;
  font-weight:600;
}